In [1]:
import pandas as pd
import seaborn as sns

Getting the data from the gold.csv file

In [2]:
gold = pd.read_csv(r'gold.csv')
gold.head()

      Date  Price
0  1950-01  34.73
1  1950-02  34.73
2  1950-03  34.73
3  1950-04  34.73
4  1950-05  34.73