In [1]:
import pandas as pd
import seaborn as sns

# Question 2
Getting the data from the gold.csv file

In [2]:
gold = pd.read_csv(r'gold.csv')
gold.head()

      Date  Price
0  1950-01  34.73
1  1950-02  34.73
2  1950-03  34.73
3  1950-04  34.73
4  1950-05  34.73

# Question 3
running the info() method

In [3]:
gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    847 non-null    object
 1   Price   847 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.4+ KB

# Question 4
Converting Date column to DateTime Data Type

In [15]:
gold['Date'] = gold['Date'].apply(pd.to_datetime)
gold.head()

        Date  Price
0 1950-01-01  34.73
1 1950-02-01  34.73
2 1950-03-01  34.73
3 1950-04-01  34.73
4 1950-05-01  34.73

In [16]:
gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    847 non-null    datetime64[ns]
 1   Price   847 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 13.4 KB